<!-- ######################################################################################################################################################## -->
<!-- ######################################################################################################################################################## -->
<!-- 																																						  -->
<!-- 										File to launch the stereo visual odometry node																	  -->
<!-- 																																						  -->
<!-- 							Author:  Francesco Ruscio       Email: francesco.ruscio@phd.unipi.it     Date:  06/06/2022 								      -->
<!-- 							Author:  Simone Tani            Email: simone.tani@phd.unipi.it          Date:  06/06/2022 								      -->
<!-- 																																						  -->
<!-- ######################################################################################################################################################## -->
<!-- ######################################################################################################################################################## -->

<launch>

	<param name = "use_sim_time" value = "true"/>

	<!-- SETTING CAMERA NAME -->
	<arg name="camera_name" default="desired_camera_name"/>  
	<param name="camera_name" type="str" value="$(arg camera_name)"/>
	
	<!-- LOADING YAML FILES -->
	<rosparam file = "$(find visual_odometry)/config/stereo_VO_intrinsics.yaml"/>
	<rosparam file = "$(find visual_odometry)/config/stereo_VO_parameters.yaml"/>

	<!-- STARTING STEREO VO NODE -->
	<node name="stereo_VO" pkg ="visual_odometry" type="stereo_VO" output="screen"/>

</launch>